<h1><%= @coffee.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @coffee.description %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @coffee.origin %>
</p>

<p>
  <strong>Roaster:</strong>
  <%= @coffee.roaster %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @coffee.strength %>
</p>

<p>
  <strong>Coffee Type:</strong>
  <%= @coffee.coffee_type %>
</p>

<p>
  <strong>Machine Type:</strong>
  <%= @coffee.machine_type %>
</p>

<%= link_to 'Back', coffees_path %>
